{% extends 'layout.html.twig' %}

{% block content %}
    {% for message in app.session.flashBag.get('info') %}
        <div class="card-panel teal green accent-2" style="text-align: center;">
        {{  message }}
        </div>
    {% endfor %}
    {% for message in app.session.flashBag.get('warning') %}
        <div class="card-panel red lighten-1" style="text-align: center;">
        {{ message }}
        </div>
    {% endfor %}


    <div class=" box-master row" >
        <div class="card col s12 m6 offset-m3 l4 offset-l4" style="padding-left:50px; padding-right: 50px; margin-top: 50px; margin-bottom: 150px;">
            <h1 style="margin-bottom: 35px">Nouveau mot de passe</h1>
            <div class="row">
                    {{ form_start(form) }}
                    <div class="input-field" style="margin-top: 50px">
                        {{ form_widget(form.username) }}
                        {{ form_label(form.username) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.username) }}
                     </div>
                    
                    <div class="input-field" style="margin-top: 50px">
                        {{ form_widget(form.birthDate, {"attr": {"class": "datepicker", "type" : "date"}}) }}
                        {{ form_label(form.birthDate) }}
                    </div>
                    <div class="form-group">
                        {{ form_errors(form.birthDate) }}
                    </div>

                    <div style="margin-top: 50px" >
                        <button class="waves-effect waves-light  light-blue accent-4  btn col offset-s2 s8" role="button" name="submit" type="submit" id="submitRecoverPassword" >Valider </button>
                        <p class="col s12" style="margin-top: 10px; font-size: 12px; text-align: center"> Nous vous enverrons un email avec un nouveau mot de passe</p>
                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}

{% block scriptfoot %}
    <script type="text/javascript" src="{{ asset("js/datepicker.js") }}"></script>
{% endblock %}
